body {
    font: 13px arial;
}
/*头部部分*/
header {
    overflow: hidden;
}
header nav {
    float: right;
    width: 450px;
}
header nav a {
    margin-left: 15px;
    color: #000;
}


/*主体部分*/
.content {
    text-align: center;
}
.content img {
    width: 270px;
    height: 129px;
}
.content input {
    width: 450px;
    height: 34px;
}
.content button {
    width: 100px;
    height: 39px;
    border: none;
    background-color:#317EF3;
    color: #fff;
    font-size: 16px;
    margin-left:-4px;
}


/*底部信息*/
footer {
    padding-top: 30px;
    text-align: center;
}
footer p {
    /*float: left;*/
    color: #8e8e8e;
}
footer p:first-child a {
    color: #8e8e8e;
    padding-right: 15px;
}
