* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 200px;
    height: 178px;
    background-color: #efcfcf;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -89px;
}

/*风扇主体*/
.fan_main {
    width: 140px;
    height: 120px;
    border: 5px solid #000;
    background-color: #ced4ce;
    border-radius: 20px;
    position: relative;
    float: left;
    z-index: 1;
    left: 25px;
    top: 15px;
}

/*风扇转盘*/
.circle {
    width: 100px;
    height: 100px;
    border: 5px solid #000;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 15px;
    background-color: #fff;
    z-index: 2;
}

/*扇叶动画*/
.leaf_fly {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: 3;
    -webkit-animation: fly 3s linear infinite;
    -moz-animation: fly 3s linear infinite;
    animation: fly 3s linear infinite;
}

@-webkit-keyframes fly {
    0% {
        -webkit-transform: rotate(-360deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes fly {
    0% {
        -moz-transform: rotate(-360deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}
@keyframes fly {
    0% {
        transform: rotate(-360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*4个扇叶*/
.fan_leaf_top,
.fan_leaf_right,
.fan_leaf_bottom,
.fan_leaf_left{
    width: 24px;
    height: 28px;
    border: 4px solid #000;
    border-radius: 30px;
    border-top: 0;
    background-color: #e4c0f1;
    position: absolute;
    z-index: 4;
}

/*4个扇叶的位置*/
.fan_leaf_top {
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
    transform: rotate(-180deg);
    left: 34px;
    top: 7px;
}
.fan_leaf_right {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
    top: 34px;
    right: 7px;
}
.fan_leaf_bottom{
    left: 34px;
    bottom: 7px;
}
.fan_leaf_left{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 34px;
    left: 7px;
}

/*扇叶中心*/
.fan_middle {
    width: 26px;
    height: 26px;
    border: 4px solid #000;
    border-radius: 50%;
    position: absolute;
    margin: 0 auto;
    left: 50%;
    top: 50%;
    margin-left: -17px;
    margin-top: -17px;
    background-color: #918ec1;
    z-index: 5;
}

/*风扇底座*/
.fan_bottom {
    width: 76px;
    height: 30px;
    border: 5px solid #000;
    border-radius: 30px;
    position: relative;
    border-top: 0;
    float: left;
    top: -2px;
    left: 57px;
    background-color: #ced4ce;
}
