* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #448EB4;
    font-size: 12px;
}

#warp {
    width: 710px;
    height: 2760px;
    background-color: #fff;
    border: 1px solid #eee;
    margin: 20px auto;
    border-radius: 30px;
}


/*顶部logo*/
#nav {
    width: 90%;
    height: 90px;
    margin: 5px auto;
}
#nav img {
    float: left;
}
#text {
    height: 90px;
    float: right;    
}
#text ul li{
    list-style: none;
    float: left;
    padding-top: 70px;
    padding-left: 14px;
}
#text ul li a {
    color: #ff0000;
    text-decoration: none;
    padding-left: 3px;
}
#text ul li a:hover {
    color: #0000ff;
}

table {
    width: 90%;
    margin: 5px auto;
    border-collapse: collapse;
    border: 1px solid #D3CDCD;
}

table caption {
    font-size: 16px;
    margin-bottom: 20px;
}

table input {
    margin: 1px 0;
    height: 17px;
}

table select {
    height: 20px;
}

table .blue input{
    width: 240px;
}
/*表格导语*/
#info {
    height: 60px;
    line-height: 17px;
    text-align: center;
}
#info p span {
    color: #ff0000;
}

/*3个表头：基本资料、联系方式、家教信息*/
table .info_list {
    height: 26px;
    line-height: 26px;
    color: #1A1A82;
    font-weight: bold;
    text-align: left;
    padding-left: 8px;
    background-color: #EFEBEB;
}

table tr td:first-child {
    width: 132px;
    text-align: right;
}

table tr td:last-child {
    padding: 1px 2px 2px 2px;
}

table tr td:first-child span {
    color: red;
}

table tr td:last-child span {
    color: #0000ff;
}

table #grad_school input {
    width: 140px;
}

table #mid_school input {
    width: 170px;
}

/*自我描述、家教经历、薪酬要求*/
table tr td.blue p {
    color: #0000ff;
    line-height: 18px;
}

table tr td.blue textarea {
    margin-top: 2px;
}

/*可辅导的科目、方便授课区域*/
table #course p {
    font-weight: bold;
    margin: 10px 0 3px;
}
table #course input,
table #course1 input {
    margin: 4px 3px 4px 4px;
    height: 13px;
    display: inline-block;
}
table #course span {
    color: red;
}
table #course1 p {
    color: #000;
    font-weight: bold;
}
table #course1 p span {
    color: red;
    font-weight: normal;
}
table #course1 .black {
    font-weight: normal;
    color: #000;
}

/*辅导方式*/
table #method input {
    margin: 4px 3px 4px 4px;
    height: 13px;
    display: inline-block;
}

/*表格底部提交*/
table tr:last-child td {
    height: 90px;
    text-align: center;
}

table tr:last-child td input {
    height: 22px;
    width: 90px;
    cursor: pointer;
}

/*底部信息*/
footer {
    height: 20px;
    text-align: center;
    font-size: 13px;
}