/*初始化*/

* {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}

.wrapper {
    min-width: 800px;
}

/*头部*/
header {
    background-color: #CCDEED;
    height: 50px;
    line-height: 50px;
    margin-bottom: 10px;
}

/*主体内容*/
article {
    overflow: hidden;
}

.middle,
.left,
.right {
    float: left;
}

/*中间列*/
.middle {
    width: 100%;
    background-color: #D8CED8;
    margin-bottom: -9999px;
    padding-bottom: 9999px;
}
.inner {
    margin-left: 160px;
    margin-right: 300px;
    padding: 0 15px;
}

/*左列信息*/
.left {
    background-color: #EFF1CB;
    width: 160px;
    margin-left: -100%;
    margin-bottom: -9999px;
    padding-bottom: 9999px;
}
.left ul li {
    padding-top: 5px;
}

/*右列信息*/
.right {
    background-color: #C3E8E1;
    width: 300px;
    margin-left: -300px;
    margin-bottom: -9999px;
    padding-bottom: 9999px;
}
.right p {
    padding-left: 5px;
}
.inner p {
    text-indent: 2em;
}

/*底部信息*/
.footer {
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: #F5F5C5;
    margin-top: 10px;
}
