/*初始化*/
html,
body,
div,
p,
span,
ol,
ul,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
header,
figure,
nav,
article,
section,
footer,
ul,
li {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}
input,
button,
select,
textarea {
  outline: 0;
}
a {
  text-decoration: none;
}
html body {
  position: relative;
}
body {
  width: 100%;
  background: #F5F5F5;
  font-family: "Microsoft Yahei";
}
.width_com {
  width: 1000px;
  margin: 0 auto;
}
.vipicon1 {
  background: url(../img/allicon.png) 0 0 no-repeat;
  background-size: 64px 64px;
}
/*顶部导航*/
.wrapper {
  width: 100%;
  background: #fff;
  height: 60px;
  border-bottom: 1px solid #ececec;
}
.head {
  height: 60px;
}
.head .logo img {
  width: 104px;
  height: 40px;
  margin: 8px 0;
  border: 0;
}
header nav {
  display: inline-block;
  margin-left: 54px;
  width: 385px;
  height: 60px;
  font-size: 13.5px;
  line-height: 60px;
}
header nav ul li {
  float: left;
  padding-right: 52px;
}
header nav .index {
  color: #35b558;
}
header nav ul li:last-child {
  float: right;
  padding-right: 0px;
}
header nav .tri {
  width: 7px;
  height: 7px;
  display: inline-block;
  border: 1px solid #c1c1c1;
  border-left: 0;
  border-bottom: 0;
  transform: rotate(135deg);
  margin-left: 4px;
}
header nav ul li:hover .tri {
  animation: fly 1s;
  border: 1px solid #35b558;
  border-left: 0;
  border-bottom: 0;
  transform: rotate(315deg);
}
header nav li:hover {
  color: #35b558;
  cursor: pointer;
}
/*箭头向上的动画*/
@keyframes fly {
  0% {
    transform: rotate(135deg);
  }
  100% {
    transform: rotate(315deg);
  }
}
/*职业学院列表*/
.job-list {
  width: 280px;
  height: 266px;
  background: #fff;
  z-index: 1000;
  font-size: 12px;
  position: absolute;
  top: 61px;
  display: none;
  animation: fadeIn 1s;
}
.job-list h3 {
  height: 28px;
  line-height: 28px;
  font-weight: normal;
  margin: 10px 0;
  padding-left: 15px;
  background: #fafafa;
  color: #000;
}
.job-list a {
  display: block;
  height: 30px;
  line-height: 30px;
  padding-left: 15px;
  color: #333;
}
.job-list a:hover {
  color: #35b558;
}
.job-list i {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: red;
  background: url(../img/allicon3.png) 0 0 no-repeat;
}
.job-list .web-icon {
  background: url(../img/allicon.png) -33px -55px no-repeat;
  background-size: 64px 64px;
  background-position: -15px -26px;
}
.job-list .python-icon {
  background-size: 16px 148px;
  background-position: -2px -2px;
}
.job-list .go-icon {
  background-size: 16px 148px;
  background-position: -2px -38px;
}
.job-list .ios-icon {
  background-size: 16px 148px;
  background-position: -2px -83px;
}
.job-school:hover .job-list {
  display: block;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*会员课程列表*/
.vip-list {
  width: 280px;
  height: 266px;
  background: #fff;
  z-index: 1000;
  font-size: 12px;
  position: absolute;
  top: 61px;
  display: none;
  animation: fadeIn 1s;
  height: 245px;
}
.vip-list h3 {
  height: 28px;
  line-height: 28px;
  font-weight: normal;
  margin: 10px 0;
  padding-left: 15px;
  background: #fafafa;
  color: #000;
}
.vip-list a {
  display: block;
  height: 30px;
  line-height: 30px;
  padding-left: 15px;
  color: #333;
}
.vip-list a:hover {
  color: #35b558;
}
.vip-list i {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: red;
  background: url(../img/allicon3.png) 0 0 no-repeat;
}
.vip-list .web-icon {
  background: url(../img/allicon.png) -33px -55px no-repeat;
  background-size: 64px 64px;
  background-position: -15px -26px;
}
.vip-list .python-icon {
  background-size: 16px 148px;
  background-position: -2px -2px;
}
.vip-list .go-icon {
  background-size: 16px 148px;
  background-position: -2px -38px;
}
.vip-list .ios-icon {
  background-size: 16px 148px;
  background-position: -2px -83px;
}
.vip-list a span {
  float: right;
  color: #bbb;
}
.vip-list i {
  display: inline-block;
  height: 14px;
  width: 14px;
  background: green;
  margin-right: 6px;
}
.vip-list .kck-icon {
  background: url(../img/allicon.png) 0 0 no-repeat;
  background-size: 64px 64px;
  background-position: 0 -12px;
}
.vip-list .zyljt-icon {
  background: url(../img/allicon.png) 0 0 no-repeat;
  background-size: 64px 64px;
  background-position: -44px 1px;
}
.vip-list .zstxt-icon {
  background: url(../img/allicon.png) 0 0 no-repeat;
  background-size: 64px 64px;
  background-position: -28px -12px;
}
.vip-list .xlkc-icon {
  background: url(../img/xlkc2.png) 0 0 no-repeat;
  background-size: 14px 14px;
}
.vip-list .kcbq-icon {
  background: url(../img/allicon.png) 0 0 no-repeat;
  background-size: 64px 64px;
  background-position: -13px -13px;
}
.vip-list .vip-hygm-icon {
  background: url(../img/allicon.png) 0 0 no-repeat;
  background-size: 64px 64px;
  background-position: -14px 1px;
}
.vip-list a:hover {
  background: #fafafa;
  color: #35b558;
}
.vip-list a,
.jk-list a {
  display: block;
  width: 240px;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  color: #666;
}
.vip-cour:hover .vip-list,
.jk-comm:hover .jk-list {
  display: block;
}
/*极客社区列表*/
.jk-list {
  height: 170px;
  animation: fadeIn 1s;
}
.jk-list .jswd-icon {
  background: url(../img/allicon.png) 0 0 no-repeat;
  background-size: 64px 64px;
  background-position: 0 -28px;
}
.jk-list .wiki-icon {
  background: url(../img/allicon.png) 0 0 no-repeat;
  background-size: 64px 64px;
  background-position: -28px -28px;
}
.jk-list .sq-icon {
  background: url(../img/allicon.png) 0 0 no-repeat;
  background-size: 64px 64px;
  background-position: 1px 1px;
}
.jk-list .zyxz-icon {
  background: url(../img/allicon.png) 0 0 no-repeat;
  background-size: 64px 64px;
  background-position: -28px 0;
}
/*顶部导航右3个图标*/
.scale {
  transform-origin: right center;
  display: block!important;
  transform: scale(1, 1) !important;
  opacity: 1!important;
  animation: scalerun 0.8s ease normal;
}
.head .icon-box {
  text-align: right;
  width: 200px;
  height: 60px;
  float: right;
  margin-right: 10px;
  display: inline-block;
  position: relative;
  /*弹出搜索框*/
}
.head .icon-box span {
  display: inline-block;
  width: 17px;
  height: 60px;
  right: 0;
  margin: 0 14px;
}
.head .icon-box span:hover {
  cursor: pointer;
}
.head .icon-box .search-icon {
  background: url(../img/search-icon.png) no-repeat center;
  background-size: 17px 17px;
}
.head .icon-box span.search-icon:hover {
  background: url(../img/search-icon2.png) no-repeat center;
  background-size: 17px 17px;
}
.head .icon-box span.app-icon {
  background: url(../img/app-icon.png) no-repeat center;
  background-size: 17px 17px;
}
.head .icon-box span.app-icon:hover {
  background: url(../img/app-icon2.png) no-repeat center;
  background-size: 17px 17px;
}
.head .icon-box span.login-icon {
  background: url(../img/login-icon.png) no-repeat center;
  background-size: 17px 17px;
}
.head .icon-box .searchbox {
  display: none;
  transform: scale(0.1, 1);
  opacity: 0;
  height: 59px;
  line-height: 59px;
  width: 100px;
  background: #fff;
  position: absolute;
  z-index: 11000;
  top: 0;
  right: 0;
}
.head .icon-box .searchbox i {
  display: inline-block;
  width: 17px;
  height: 59px;
  float: left;
}
.head .icon-box .searchbox .close-icon {
  position: absolute;
  right: 0;
  z-index: 1100;
  display: inline;
  background: url(../img/close-icon.png) no-repeat center;
  background-size: 15px 15px;
}
.head .icon-box .searchbox .close-icon:hover {
  cursor: pointer;
}
.head .icon-box .searchbox .search-icon {
  background: url(../img/search-icon.png) no-repeat center;
  background-size: 17px 17px;
}
.head .icon-box .searchbox .web_search_header {
  float: left;
  width: 400px;
  height: 40px;
  margin-left: 10px;
  margin-top: 10px;
  border: 0;
}
.head .icon-box .searchbox .tagbox {
  display: inline;
  width: 300px;
  height: 61px;
  line-height: 61px;
  font-size: 12px;
  float: right;
  text-align: right;
  margin-right: 50px;
  animation: fadeIn 1s;
}
.head .icon-box .searchbox .tagbox a {
  display: inline-block;
  height: 19px;
  line-height: 19px;
  color: #808080;
  background: #f5f5f5;
  margin-left: 10px;
  padding: 1px 5px;
}
.tri2 {
  display: block;
  height: 15px;
  width: 15px;
  border-top: 1px solid #ececec;
  border-right: 1px solid #ececec;
  position: absolute;
  left: 52px;
  top: -8px;
  background: #fff;
  z-index: 1100;
  transform: rotate(-45deg);
}
/*导航app下拉菜单*/
.app-down {
  width: 120px;
  height: 162px;
  border: 1px solid #ececec;
  position: absolute;
  top: 60px;
  right: 12px;
  z-index: 1000;
  display: none;
  animation: fadeIn 1s;
}
.app-down img {
  height: 162px;
  width: 120px;
}
.app-icon:hover .app-down {
  display: block;
}
/*账号下拉*/
.login-list {
  width: 120px;
  border: 1px solid #ececec;
  position: absolute;
  top: 60px;
  padding: 10px 0;
  right: 6px;
  z-index: 1200;
  background: #fff;
  display: none;
  animation: fadeIn 1s;
}
.login-list .tri2-icon {
  display: block;
  height: 15px;
  width: 15px;
  border-top: 1px solid #ececec;
  border-right: 1px solid #ececec;
  position: absolute;
  right: -2px;
  top: -8px;
  background: #fff;
  transform: rotate(-45deg);
}
.login-list dd {
  text-align: left;
  font-size: 12px;
  line-height: 35px;
  vertical-align: middle;
  padding-left: 10px;
}
.login-list a {
  color: #333;
}
.login-list a:hover {
  background: #fafafa;
  color: #35b558;
}
.login-list i {
  background: url(../img/allicon2.png) 0 0 no-repeat;
  background-size: 64px 64px;
  width: 12px;
  height: 12px;
  margin-right: 10px;
  display: inline-block;
}
.login-list .xxzx-icon {
  background-position: -16px -15px;
}
.login-list .grzy-icon {
  background-position: -45px -1px;
}
.login-list .xxtz-icon {
  background-position: -16px -30px;
}
.login-list .zhsz-icon {
  background-position: -30px -1px;
}
.login-list .reg-btn,
.login-btn {
  width: 45%;
  height: 35px;
  line-height: 35px;
  display: inline-block;
  text-align: center;
}
.login-icon:hover .login-list {
  display: block;
}
.job-ban_background {
  background-size: 130px 65px;
}
.jk-p-span {
  height: 22px;
  line-height: 22px;
  font-size: 12px;
}
.story-be-af {
  content: '';
  display: inline-block;
  width: 14px;
  height: 10px;
  position: absolute;
}
/*banner区域*/
.page {
  width: 100%;
  height: 2200px;
  margin: 24px 0;
}
.main-top {
  height: 330px;
}
.swiper-container {
  float: left;
  width: 750px;
  height: 330px;
}
.banner {
  width: 750px;
}
.swiper-silde {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-pack: center;
  justify-content: center;
  align-items: center;
}
/*banner区域登录*/
.jk-login {
  float: right;
  width: 240px;
  height: 160px;
  position: relative;
  background: #fff;
  right: 0;
}
/*banner用户登录信息*/
.userinfo {
  width: 180px;
  height: 57px;
  margin: 30px auto;
  margin-bottom: 0;
  font-size: 12px;
}
.userinfo a img {
  display: inline-block;
  width: 57px;
  height: 57px;
  float: left;
  margin-right: 15px;
}
.userinfo span,
.userinfo p {
  float: left;
  width: 108px;
  height: 16px;
  line-height: 16px;
  color: #555;
}
.userinfo span {
  margin-top: 8px;
}
.userinfo p {
  margin-top: 10px;
}
/*登录按钮*/
.login_on {
  width: 85px;
  height: 30px;
  display: inline-block;
  border: 1px solid #35b558;
  color: #35b558;
  font-size: 14px;
  margin-top: 20px;
  text-align: center;
  margin-right: 8px;
  margin-left: 30px;
  line-height: 30px;
  border-radius: 2px;
  transition: background 0.8s;
}
.login_on:hover {
  background: #35b558;
  color: #fff;
}
/*免费注册*/
.register_free {
  width: 85px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  border: 1px solid #35b558;
  color: #35b558;
  font-size: 14px;
  margin-top: 20px;
  text-align: center;
  border-radius: 2px;
  transition: background 0.8s;
}
.register_free:hover {
  background: #35b558;
  color: #fff;
}
/*banner右下角活动*/
.active {
  width: 240px;
  height: 160px;
  float: right;
  margin-top: 10px;
}
/*就业班*/
.jk-job {
  height: 130px;
  background: #fff;
  margin-top: 20px;
  float: left;
  display: block;
}
.jk-job a {
  float: left;
  color: #555;
  width: 198px;
  height: 130px;
  display: inline-block;
  background-size: 130px 65px;
  border: 1px solid #eee;
  transition: box-shadow 0.5s;
}
.jk-job a p {
  height: 65px;
  line-height: 65px;
  text-align: center;
  margin-top: 65px;
  font-size: 12px;
}
.jk-job a:first-child p {
  margin-top: 10px;
}
.job-ban:hover {
  box-shadow: 0 2px 8px #ccc;
}
.job-ban:nth-child(1) {
  background: url(../img/jphp.png) no-repeat center 20px;
  background-size: 130px 65px;
}
.job-ban:nth-child(1) i {
  height: 52px;
  width: 52px;
  display: inline-block;
  background: url(../img/tag_8332cd6.png) no-repeat center;
  background-size: 52px 52px;
}
.job-ban:nth-child(2) {
  background: url(../img/jweb.png) no-repeat center 20px;
  background-size: 130px 65px;
}
.job-ban:nth-child(3) {
  background: url(../img/jandroid.png) no-repeat center 20px;
  background-size: 130px 65px;
}
.job-ban:nth-child(4) {
  background: url(../img/jios.png) no-repeat center 20px;
  background-size: 130px 65px;
}
.job-ban:nth-child(5) {
  background: url(../img/jjava.png) no-repeat center 20px;
  background-size: 130px 65px;
}
/*课程售卖项目*/
.jk-recom {
  display: inline-block;
  height: 270px;
  margin: 24px auto;
  box-sizing: border-box;
  font-size: 12px;
}
.jk-recom ul {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.jk-recom ul li:hover {
  box-shadow: 0 2px 8px #ccc;
}
.jk-recom ul li {
  float: left;
  height: 100%;
  margin-right: 23px;
  transition: box-shadow 0.5s;
  -moz-transition: box-shadow 0.5s;
  -webkit-transition: box-shadow 0.5s;
  -o-transition: box-shadow 0.5s;
}
.jk-recom ul li img {
  height: 155px;
  border: 0;
}
.jk-recom ul li:last-child {
  float: right;
  margin-right: 0;
}
.jk-recom div {
  height: 115px;
  padding: 14px;
  margin-top: -4px;
  background: #fff;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  border: 1px solid #E4E0E3;
}
.jk-recom p:first-child {
  width: 100%;
  overflow: hidden;
  color: #555;
  height: 36px;
  line-height: 18px;
}
.jk-recom p:nth-child(2) {
  height: 16px;
  line-height: 16px;
  color: #999;
  margin-top: 6px;
}
.jk-recom span {
  display: inline-block;
  color: #999;
}
.jk-recom .price-recom {
  font-size: 18px;
  color: #ff5c00;
  font-weight: bold;
  margin-top: 8px;
  vertical-align: bottom;
  box-sizing: border-box;
}
.jk-recom .price2-recom {
  text-decoration: line-through;
}
.jk-recom .num-recom {
  line-height: 14px;
  height: 14px;
  font-size: 12px;
  position: absolute;
  right: 14px;
  bottom: 11px;
}
/*职业学院*/
.jk-college {
  height: 360px;
}
.jk-college ul li:hover i {
  opacity: .2;
}
.jk-college ul li {
  display: inline-block;
  float: left;
  position: relative;
}
.jk-college ul li a img {
  display: inline-block;
  vertical-align: middle;
}
.jk-college ul li i {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  transition: opacity .8s;
}
.jk-college .web {
  width: 500px;
  height: 270px;
}
.jk-college .web img {
  width: 500px;
  height: 270px;
}
.jk-college .web span {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 90px;
  float: left;
  font-size: 20px;
  background: url(../img/cweb_2d70d0b.png) no-repeat center 70px;
  background-size: 55px 84px;
  text-align: center;
  padding-top: 180px;
  color: #fff;
}
.jk-college h2,
.jk-vip h2,
.jk-story h2,
.jk-partner h2 {
  height: 18px;
  line-height: 18px;
  font-weight: 400;
  font-size: 18px;
  color: #555;
  margin-bottom: 22px;
}
.python span,
.go span,
.ios span,
.more span {
  position: absolute;
  top: 0;
  left: 0;
  width: 240px;
  height: 42px;
  background-size: 32px 36px;
  font-size: 14px;
  color: #fff;
  padding-top: 88px;
  text-align: center;
}
.python span {
  background: url(../img/cpython_5ed9df4.png) no-repeat center 36px;
  background-size: 32px 36px;
}
.go span {
  background: url(../img/cgo_e66208d.png) no-repeat center 33px;
  background-size: 36px 29px;
}
.ios span {
  background: url(../img/cios_dc0ca8e.png) no-repeat center 36px;
  background-size: 32px 36px;
}
.more span {
  background: url(../img/cmore_1bdb357.png) no-repeat center 36px;
  background-size: 33px 33px;
}
.python,
.go,
.ios,
.more {
  display: inline-block;
  width: 240px;
  height: 130px;
  margin: 0 0 10px 10px;
}
.python img,
.go img,
.ios img,
.more img {
  width: 240px;
  height: 130px;
}
/*vip课程*/
.jk-vip {
  height: 450px;
  margin: 0 auto;
  box-sizing: border-box;
}
.jk-vip ul li {
  width: 100%;
  text-align: center;
  display: inline-block;
  width: 156px;
  height: 146px;
  background: #fff;
  float: left;
  margin: 0 5px 10px 5px;
  border: 1px solid #DBDBE8;
  transition: box-shadow 0.5s;
}
.jk-vip ul li a {
  height: 148px;
}
.jk-vip ul li img {
  display: inline-block;
  width: 55px;
  height: 55px;
  border: 0;
  margin-top: 25px;
}
.jk-vip ul li p {
  height: 22px;
  line-height: 22px;
  font-size: 12px;
  color: #555;
}
.jk-vip ul li span {
  height: 22px;
  line-height: 22px;
  font-size: 12px;
  display: block;
  color: #35b558;
}
.jk-vip ul li:hover,
.jk-partner ul li:hover {
  box-shadow: 0 2px 6px #ccc;
}
.jk-vip ul li:first-child,
.jk-partner ul li:first-child {
  margin-left: 0;
}
.jk-vip ul li:nth-child(6),
.jk-partner ul li:nth-child(6),
.jk-vip ul li:nth-child(12),
.jk-partner ul li:nth-child(12) {
  margin-right: 0 !important;
}
.jk-vip ul li:nth-child(7),
.jk-partner ul li:nth-child(7) {
  margin-left: 0 !important;
}
.qbkc,
.more-partner {
  display: inline-block;
  width: 120px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-size: 14px;
  color: #35b558;
  border: 1px solid #35b558;
  border-radius: 2px;
  margin-top: 32px;
  position: relative;
  left: 50%;
  margin-left: -60px;
  transition: background 0.8s;
}
.qbkc:hover,
.more-partner:hover {
  background: #35b558;
  color: #fff;
}
/*学员故事*/
.jk-story {
  height: 316px;
  font-size: 12px;
}
.jk-story ul .story-content {
  height: 121px;
  border: 1px solid #e9e9e9;
  background: #fff;
  position: relative;
}
.jk-story ul .story-content:hover {
  box-shadow: 0 2px 6px #ccc;
}
.jk-story ul .story-content p {
  height: 100%;
  overflow: hidden;
  font-size: 12px;
  color: #555;
  line-height: 20px;
  padding: 20px 25px;
  text-align: left;
}
.jk-story ul .story-info {
  height: 80px;
  padding-left: 95px;
  padding-top: 28px;
  position: relative;
}
.jk-story ul .story-info img {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  border: 1px solid #e9e9e9;
}
.story-container .story {
  width: 1000px;
}
.story-container .heigh {
  height: 260px;
}
.story-content p:before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 10px;
  position: absolute;
  background: url(../img/storyicon_4a5e270.png) no-repeat center;
  background-size: 14px 14px;
  top: 10px;
  left: 10px;
}
.story-content p:after {
  content: '';
  display: inline-block;
  width: 14px;
  height: 10px;
  position: absolute;
  background: url(../img/storyicon_4a5e270.png) no-repeat center;
  background-size: 14px 14px;
  bottom: 10px;
  right: 10px;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
.jk-story ul .story-content:after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 10px solid #fff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  bottom: -10px;
  left: 47px;
}
.swiper-slide ul li {
  width: 33%;
  float: left;
}
.swiper-slide ul li a {
  display: inline-block;
  height: 100%;
}
.jk-story ul .story-info p,
.jk-story ul .story-info span {
  height: 24px;
  line-height: 24px;
  text-align: left;
}
.jk-story ul .story-info p {
  color: #555;
  overflow: hidden;
}
.jk-story ul .story-info span {
  display: block;
  color: #999;
}
/*合作企业*/
.jk-partner {
  height: 240px;
  margin-top: 60px;
}
.jk-partner ul {
  width: 100%;
}
.jk-partner ul li {
  display: block;
  text-align: center;
  width: 150px;
  height: 48px;
  border: 1px solid #e9e9e9;
  box-sizing: border-box;
  float: left;
  margin: 0 10px 20px;
  background: #fff;
  transition: box-shadow 0.5s;
}
.jk-partner ul li a {
  width: 150px;
  height: 48px;
  display: inline-block;
}
.jk-partner ul li:nth-child(1) a {
  background: url(../img/p_microsoft_82f9a9a.png) no-repeat center;
}
.jk-partner ul li:nth-child(2) a {
  background: url(../img/p_tencent_47175aa.png) no-repeat center;
}
.jk-partner ul li:nth-child(3) a {
  background: url(../img/p_qcloud_ab76cc7.png) no-repeat center;
}
.jk-partner ul li:nth-child(4) a {
  background: url(../img/p_qualcomm_362a472.png) no-repeat center;
}
.jk-partner ul li:nth-child(5) a {
  background: url(../img/p_cocos_2a0a8f3.png) no-repeat center;
}
.jk-partner ul li:nth-child(6) a {
  background: url(../img/p_amd_f9f0c7f.png) no-repeat center;
}
.jk-partner ul li:nth-child(7) a {
  background: url(../img/p_xunfei_d1cd670.png) no-repeat center;
}
.jk-partner ul li:nth-child(8) a {
  background: url(../img/p_tuling_3ec6ea2.png) no-repeat center;
}
.jk-partner ul li:nth-child(9) a {
  background: url(../img/p_tingyun_c2752df.png) no-repeat center;
}
.jk-partner ul li:nth-child(10) a {
  background: url(../img/p_juhe_25bbedf.png) no-repeat center;
}
.jk-partner ul li:nth-child(11) a {
  background: url(../img/p_bootstrap_d0a74f3.png) no-repeat center;
}
.jk-partner ul li:nth-child(12) a {
  background: url(../img/p_cloudstack_6ecabb3.png) no-repeat center;
}
.wechat-sina {
  float: right;
  height: 15px;
  width: 20px;
  background-size: 20px 15px;
}
/*底部信息*/
footer {
  margin-top: 100px;
  width: 100%;
  height: 100%;
  background: #fff;
  border-top: 1px solid #E8E2E2;
}
footer .footerDiv {
  background: #fff;
  position: relative;
}
.jkinfo {
  height: 215px;
  padding-left: 224px;
  padding-top: 25px;
  border-bottom: 1px solid #f5f5f5;
}
.jkinfo .jk-logo {
  position: absolute;
  left: 0;
  top: 25px;
  bottom: 0;
  width: 160px;
  display: inline-block;
}
.jkinfo .jk-logo img {
  width: 109px;
  height: 40px;
}
.jkinfo .jk-logo p {
  font-size: 12px;
  color: #999;
  margin-top: 20px;
}
.jkinfo dl {
  width: 135px;
  float: left;
  color: #808080;
}
.jkinfo dl dt {
  font-size: 14px;
  line-height: 30px;
}
.jkinfo dl dd {
  font-size: 12px;
  line-height: 30px;
}
.jkinfo dl dd a {
  color: #999999;
}
.jkinfo dl dd a:hover {
  color: #35b558;
}
.jk-down {
  font-size: 14px;
  width: 175px;
  float: left;
  margin-left: 60px;
  color: #808080;
}
.jk-down .hot-tel {
  margin-bottom: 20px;
}
.jk-down .downCon {
  position: relative;
  width: 100px;
  height: 30px;
  padding-left: 40px;
  line-height: 30px;
  border: 1px solid #eeeeee;
  margin-bottom: 10px;
}
.jk-down .downCon img {
  display: block;
  width: 115px;
  height: 153px;
  position: absolute;
  top: -157px;
  left: 12px;
  z-index: 2;
  display: none;
}
.jk-down .downCon img:hover img {
  display: block;
}
.jk-down .down-ios {
  background: url(../img/icon-down-ios.png) no-repeat left;
  background-size: 30px 30px;
}
.jk-down .down-and {
  background: url(../img/icon-down-and.png) no-repeat left;
  background-size: 30px 30px;
}
.copyinfo {
  margin: 12px auto;
  font-size: 12px;
  color: #999;
  text-align: center;
}
.copyinfo p {
  height: 15px;
  line-height: 15px;
  display: inline-block;
}
.copyinfo .down-wechat {
  background: url(../img/icon-down-wechat.png) no-repeat;
  float: right;
  height: 15px;
  width: 20px;
  background-size: 20px 15px;
}
.copyinfo .down-sina {
  background: url(../img/icon-down-sina.png) no-repeat;
  float: right;
  height: 15px;
  width: 20px;
  background-size: 20px 15px;
  margin-right: 10px;
}
.copyinfo .bottom_logo {
  display: block;
}
.copyinfo .bottom_logo img {
  width: 60px;
  height: 22px;
  margin: 9px auto 0;
}
/*置顶*/
.gotop {
  position: fixed;
  left: 50%;
  margin-left: 510px;
  bottom: 50px;
  width: 34px;
  text-align: center;
  z-index: 2000;
}
.gotop span.top {
  background: url(../img/gotop.jpg) 0 0 no-repeat;
  background-size: 34px 103px;
  height: 34px;
}
.gotop span.jk-app {
  position: relative;
  display: block;
  background: url(../img/phone-1.png) center center no-repeat;
  background-size: 12px 24px;
  height: 35px;
  border-bottom: 1px solid #e0e0e0;
}
.appewm {
  background: url(../img/appewm.png) center center no-repeat;
  background-size: 100%;
  width: 126px;
  height: 159px;
  position: absolute;
  z-index: 2100;
  left: -126px;
  top: -70px;
  display: none;
}
.gotop span.jk-app:hover .appewm {
  display: block;
}
