* {
    margin: 0;
    padding: 0;
}

.box {
    transform-style: preserve-3d;
    width: 156px;
    height: 156px;
    margin: 300px auto;
    -webkit-animation: fly 4s ease-in-out infinite;
    -webkit-transform-origin: 78px 78px 0;
    -moz-animation: fly 4s ease-in-out infinite;
    -moz-transform-origin: 78px 78px 0;
    animation: fly 4s ease-in-out infinite;
    transform-origin: 78px 78px 0;
}


/*动画*/
@-webkit-keyframes fly {
    15% {
        -webkit-transform: rotateY(-90deg);
    }
    32% {
        -webkit-transform: rotateY(-90deg) rotateZ(135deg);
    }
    50% {
        -webkit-transform: rotateY(225deg) rotateZ(135deg);
    }
    65% {
        -webkit-transform: rotateY(135deg) rotateX(135deg);
    }
    86% {
        -webkit-transform: rotateY(135deg);
    }
}
@-moz-keyframes fly {
    15% {
        -moz-transform: rotateY(-90deg);
    }
    32% {
        -moz-transform: rotateY(-90deg) rotateZ(135deg);
    }
    50% {
        -moz-transform: rotateY(225deg) rotateZ(135deg);
    }
    65% {
        -moz-transform: rotateY(135deg) rotateX(135deg);
    }
    86% {
        -moz-transform: rotateY(135deg);
    }
}

@keyframes fly {
    15% {
        transform: rotateY(-90deg);
    }
    32% {
        transform: rotateY(-90deg) rotateZ(135deg);
    }
    50% {
        transform: rotateY(225deg) rotateZ(135deg);
    }
    65% {
        transform: rotateY(135deg) rotateX(135deg);
    }
    86% {
        transform: rotateY(135deg);
    }
}


/*六个面的空间位置*/
.box .one {
    transform: translateZ(78px);
    -moz-transform: translateZ(78px);
    -webkit-transform: translateZ(78px);
}
.box .two {
    transform: rotateX(-90deg) translateZ(78px);
    -moz-transform: rotateX(-90deg) translateZ(78px);
    -webkit-transform: rotateX(-90deg) translateZ(78px);
}
.box .three {
    transform: rotateX(90deg) translateZ(78px);
    -moz-transform: rotateX(90deg) translateZ(78px);
    -webkit-transform: rotateX(90deg) translateZ(78px);
}
.box .four {
    transform: rotateY(90deg) translateZ(-78px);
    -moz-transform: rotateY(90deg) translateZ(-78px);
    -webkit-transform: rotateY(90deg) translateZ(-78px);
}
.box .five {
    transform: rotateY(-90deg) translateZ(-78px);
    -moz-transform: rotateY(-90deg) translateZ(-78px);
    -webkit-transform: rotateY(-90deg) translateZ(-78px);
}
.box .six {
    transform: rotateY(0deg) translateZ(-78px);
    -moz-transform: rotateY(0deg) translateZ(-78px);
    -webkit-transform: rotateY(0deg) translateZ(-78px);
}


/*六个面*/

.one,
.two,
.three,
.four,
.five,
.six {
    width: 156px;
    height: 156px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -78px;
    margin-top: -78px;
}


/* 一个面九个小方块*/

.one div,
.two div,
.three div,
.four div,
.five div,
.six div {
    width: 50px;
    height: 50px;
    border: 1px solid #8e8e8e;
    border-radius: 6px;
    float: left;
}


/*小方块的颜色*/

.one div {
    background-color: #ff0000;
}

.two div {
    background-color: #00ff00;
}

.three div {
    background-color: #0000ff;
}

.four div {
    background-color: #F5DEB3;
}

.five div {
    background-color: #ff8c00;
}

.six div {
    background-color: #800080;
}
