* {
    margin: 0;
    padding: 0;
}
html body{
    width: 100%;
    height: 100%;
}
body{
    position: relative;
    min-width: 810px;
    min-height: 600px;
}

ul li {
    list-style: none;
}

input,
button {
    outline: none;
}

body {
    font: 13px arial;
}


/*头部部分*/

header {
    height: 45px;
    width: 100%;
    overflow: hidden;
}

header nav {
    width: 450px;
    margin-top: 12px;
    float: right;
}

header nav li a {
    float: left;
    height: 20px;
    font-weight: bold;
    color: #000;
    margin-left: 15px;
}
header nav li a:hover{
    color: #0000ff;
}
.login,
.set {
    font-weight: normal;
}

header nav .more {
    width: 74px;
    height: 24px;
    font-weight: normal;
    text-align: center;
    line-height: 25px;
    text-decoration: none;
    color: #fff;
    background-color: #317EF3;
    display: inline-block;
}

header nav .more:hover {
    background-color: #fff;
    color: #000;
}


/*更多产品下拉*/
.more #box {
    width: 74px;
    height: 100%;
    border-left: 1px solid #d8d7d4;
    position: absolute;
    top: 0px;
    right: 14px;
    display: none;
    background-color: #ffffff;
}

.more:last-child:hover #box {
    display: block;
}

#box ul #box_title {
    width: 58px;
    height: 28px;
    margin: 0 auto;
    margin-top: 12px;
}

#box ul li {
    display: block;
    height: 65px;
    margin: 5px auto;
}


/*更多产品下拉icon背景*/
#box #miuse {
    width: 40px;
    background: url(../img/more_icon.png) no-repeat -72px 0;
}

#box #photo {
    width: 34px;
    background: url(../img/more_icon.png) no-repeat -112px 0;
}

#box #know {
    width: 36px;
    background: url(../img/more_icon.png) no-repeat -36px 0;
}

#box #library {
    width: 34px;
    background: url(../img/more_icon.png) no-repeat -148px 0;
}

#box #wind_cloud {
    width: 38px;
    background: url(../img/more_icon.png) no-repeat -184px 0;
}

#box ul li p {
    font-size: 12px;
    padding-top: 35px;
}

#box ul li p:hover {
    text-decoration: underline;
}


/*主体部分*/
.content {
    text-align: center;
}
.content form{
    width: 702px;
    margin:10px auto;
}
.content img {
    margin: 2% 0;
    width: 270px;
    height: 129px;
}

.content .search {
    width: 600px;
    height: 33px;
    display: inline-block;
    border: 1px solid #b1a9a9;
    float: left;
    position: relative;
}
.content .search:hover {
    border: 1px solid #317EF3;
}

.content input{
    width: 560px;
    height: 33px;
    border: none;
}


/*搜索框相机*/
.content span {
    margin-left: 8px;
    width: 20px;
    height: 16px;
    display: inline-block;
    text-align: center;
    background: url(../img/camera_new.png) no-repeat;
    position: absolute;
    top: 8px;
    right: 4px;

}
.content span:hover {
    background-position: 0 -20px;
}

.content button{
    width: 100px;
    height: 35px;
    border: none;
    background-color: #317EF3;
    color: #fff;
    font-size: 17px;
    float: left;
}


/*底部信息*/
.footer_info {
    width: 740px;
    position: absolute;
    left: 50%;
    margin-left: -370px;
    bottom: 10px;
}

.footer_info a:hover{
    color: #0000ff;
 } 
   
  /*手机百度和百度糯米*/

.footer_left,
.footer_middle {
    width: 150px;
    height: 68px;
    float: left;
    margin: 0 12px;
}

.footer_left {
    background: url(../img/zbios_efde696.png) no-repeat;
}
.footer_middle {
    background: url(../img/nuomi_365eabd.png) no-repeat;
}

.footer_left p,
.footer_middle p {
    padding-left: 80px;
    color: #8e8e8e;
}
.footer_left p:first-child,
.footer_middle p:first-child {
    font-weight: bold;
    color: #000;
}
/*底部右边文字*/
.footer_right {
    margin-left: 10px;
    width: 380px;
    height: 68px;
    display: inline-block;
}
.footer_right p a{
    color: #8e8e8e;
    padding: 0 2px;
}

#c_icon {
    display: inline-block;
    height: 16px;
    width: 20px;
    background: url(../img/icons.png) no-repeat -600px -96px;
}
#jgwablogo {
    display: inline-block;
    height: 16px;
    width: 18px;
    background: url(../img/icons.png) no-repeat -622px -98px;
}